@media (prefers-color-scheme: light) {
	:root {
		--bg_color: whitesmoke;
		--ft_color: #444;
		--link_color: MidnightBlue;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--bg_color: #444;
		--ft_color: whitesmoke;
		--link_color: SteelBlue;
	}
}

html, body {
	margin: 0;
	border: 0;
}

body {
	font-family: Verdana, sans-serif;
	max-width: 900px;
	margin: 0 auto;
	height: 100vh;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto 1fr auto;
	background-color: var(--bg_color);
	color: var(--ft_color);
}

body>nav {
	grid-column: 1;
	grid-row: 1;
}

body>nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

body>nav a {
	display: inline-block;
	text-decoration: none;
	padding: .1em;
	margin: .2em;
	color: var(--link_color);
}

body>header {
	grid-column: 1;
	grid-row: 2;
}

body>header h1 {
	font-size: 160%;
	margin: 0;
}

body>main {
	grid-column: 1;
	grid-row: 3;
}

body>footer {
	text-align: center;
	grid-column: 1;
	grid-row: 4;
}

p {
	margin: 0;
}

a {
	color: var(--link_color);
}