<!DOCTYPE html>
<html>
  <head>
    <title>Toolboks - {{ page.title }}</title>
    <link rel='stylesheet' href='{{ site.path }}/css/default.css' />
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    {% for header in page.headers %}{{ header }}{% endfor %}
  </head>
  <body>
    <header>
    	<h1>{{ page.title }}</h1>
    </header>
    <nav>
		<ul>
			{% for item in site.data.main %}
  				<li>
  					<a href="{{ site.path }}/{{ item.folder}}">
  						{{ item.title }}
  					</a>
  				</li>
  			{% endfor %}
		</ul>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer><a href="https://github.com/toolboks/toolboks.github.io" target="_blank">Find the code on Github</a></footer>
  </body>
</html>
